.home {
    width: 100%;
    height: 100vh;
    background: grey;
    .home-game, 
    .home-book {
        display: inline-block;
        width: 50%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .home-game {
        background-image: url('../../assets/images/game_bg.jpg');
    }
    .home-book {
        background-image: url('../../assets/images/book_bg.jpg');
    }
}